<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>

<h2>Add User</h2>

<form action="/addUser" method="post" th:object="${user}">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" th:field="*{username}" required>
    <br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" th:field="*{password}" required>
    <br>

<!--    <label for="role">Role:</label>-->
<!--    <select id="role" name="role" th:field="*{role}" required>-->
<!--        <option value="ADMIN">ADMIN</option>-->
<!--        <option value="USER">USER</option>-->
<!--    </select>-->
    <br>

    <button type="submit">Add User</button>
</form>

</body>
</html>
